body {
    margin: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #333;
    overflow: hidden; /* Evita scrollbars innecesarios */
    position: relative;
}

/* Estilo para el contenedor del canvas */
#canvasContainer {
    position: absolute; /* Asegura que se sitúe en la capa de fondo */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0; /* Detrás de los elementos superpuestos */
    overflow: hidden;
    width: 1920px;
    height:1080px;
}

/* Estilo para los canvas */
canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 4px;
    top: 0;
    left: 0;
    border: none;
    display: block;
    image-rendering: crisp-edges; /* Mejora la visualización de los bordes en escalas */
    box-sizing: border-box; /* Incluye el padding y el border en el tamaño total */
}

#gameCanvas {
    z-index: 0; /* Capa de fondo */
}

#characterCanvas {
    z-index: 1; /* Capa de personajes sobre el fondo */
}

/* Estilo para el contenedor de elementos sobre el canvas */
.container { 
    position: absolute; /* Asegura que se sitúe sobre los canvas */
    top: 0; /* Espacio para nav */
    bottom: 0; /* Espacio para footer */
    left: 0;
    right: 0;
    display: flex;
    align-items: flex-start; /* Ajusta la alineación si es necesario */
    justify-content: flex-start; /* Ajusta la alineación si es necesario */
    z-index: 1; /* Asegúrate de que esté sobre los canvas */

}

/* Estilo para la barra de navegación */
.nav {
    position: absolute;
    top: 5px;
    left: 0;
    width: 100%;
    height: 3em;
    background-color: rgba(255, 255, 255, 0); /* Fondo transparente */
    display: flex;
    align-items: center;
    box-sizing: border-box; /* Incluye el padding y el border en el tamaño total */
    z-index: 10;
    
}

/* Estilo para el botón */
.imgButton {
    width: 3em;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(100, 255, 0, 0.5);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    margin-left: 1em;
    
}
/* Estilo para la imagen del botón */
.imgButton img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

/* Efecto al pasar el ratón por encima del botón */
.imgButton:hover {
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.7);
}

/* Efecto al hacer clic en el botón */
.imgButton:active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transform: translateY(2px);
}

/* Estilo para el menú desplegable */
.dropdown-menu {
    display: none; /* Inicialmente oculto */
    position: absolute; /* Posición absoluta respecto al contenedor .nav */
    top: 100%; /* Se despliega justo debajo del botón */
    left: 2em;
    height: 80vh;
    background-color: rgba(128, 128, 128, 0.5); /* Gris translucido */
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    z-index: 11; /* Asegúrate de que esté por encima del canvas */
    padding: 10px;
    box-sizing: border-box; /* Incluye el padding en el tamaño total */
    flex-direction: row;

}
#dropdownMenuSandbox{
    flex-direction: column;

}

/* Estilo para los ítems del menú */
.dropdown-menu div {
    display: flex;
    margin: 10px;
    text-align: center;
    width: 10vw;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 2em;
    color: white; /* Texto blanco */
    cursor: pointer;
    flex-direction: column;
}
.dropdown-menu div input{

    margin: 5px;

}

/* Cambia el color de los ítems cuando el ratón pasa sobre ellos */
.dropdown-menu div:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

